@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
}

html{
  background-color: #ECECEC;
  color: #19181A;
}

body{
  font-family: 'Quicksand', sans-serif;
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
}

#main-title{
  font-size: 3.25rem;
  text-align: center;
  margin: 25px 0 10px;
}

.sub-title{
  font-size: 1.15rem;
  text-align: center;
  padding-top: 16px;
}

#game{
  height: 590px;
  margin: 2.5em auto 0;
}

#player-buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn{
  border: none;
  min-height: 90px;
  min-width: 90px;
  border-radius: 50%;
  display: inline-block;
  font-size: 1.25rem;
  background-color: #5DA2D5;
  color: black;
  margin: 5px 10px;
}

.btn, .btn:hover{
  transition: 0.5s;
}

.btn#rock:hover{
  background-color: #ef5480;
}

.btn#paper:hover{
  background-color: #ffde55;
}

.btn#scissors:hover{
  background-color: #74dae2;
}

.btn#restart{
  background-color: orange;
}

.btn#restart:hover{
  background-color: #19181A;
  color: #ECECEC;
}

#animation{
  display: flex;
  flex-wrap: wrap;
}

.gestures {
  width: 50%;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gestures h3{
  font-size: 1.55rem;
  font-weight: 100;
}

.gestures h3 span{
  font-weight: 900;
}

.gestures img{
  padding-top: 25px;
  max-width: 75%;
  height: auto;
  flex: 1;
}

.score {
  height: 75px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

#final-score {
  font-size: 1.45rem;
  text-align: center;
  font-weight: 900;
}

footer{
  text-align: center;
  padding: 0.5rem;
  background-color: #ECECEC;
}

footer p{
  font-size: 0.75rem;
  font-weight: 500;
}

footer a {
  text-decoration: none;
  color: #90CCF4;
}